<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class='container'>
    	<% db.Todo.find((err, todos) => { %>
      <% console.log(todos)%>
      <%console.log(todos[0].task)%>

    <div class='todo'>
      <h3 class='todo-name'><%= todos[0].task %></h3>
    </div>

<%  }); %>
  </body>
</html>
