<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class='container'>
    	<% Todo.todos.forEach((todo) => { %>
    <div class='todo'>
      <h3 class='todo-name'><%= Todo.todos.task %></h3>
    </div>
<%  }) %>
  </body>
</html>
